<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.PersonDao">
    <insert id="insertPerson" parameterType="yuanqin.spring.Person">
        insert into person value (null,#{userName},#{passWord},#{name},#{sex},#{country},#{age})
    </insert>
    <select id="selectPerson" resultType="yuanqin.spring.Person">
        select * from person where id = #{abc}
    </select>

    <select id="getByName" resultType="yuanqin.spring.Person">
        select * from person where  username = #{name}
    </select>

    <delete id="deleteByName">
        delete from person where username = #{name}
    </delete>

    <update id="updateByName" >
        update person set password = #{password} where username = #{name}
    </update>

    <insert id="insertPersonList" parameterType="yuanqin.spring.Person">
        insert into person(username, password, sex) values
        <foreach collection="list" open="(" close=")" separator="," item="per">
            #{per.userName}, #{per.passWord}, #{per.sex}
        </foreach>
    </insert>
</mapper>
